#controlPanel {
  padding: 1rem;
}

#inventory {
  padding: 1rem;
  border: 2px solid black;
  width: 30%;
}

#statusPanel {
  padding: 1rem;
  border: 2px solid black;
  text-align: center;
  align-content: center;
  font-size: 100px;
  width: 30%;
  height: 40%;
}

#map {
  width: 70%;
  height: 80vh;
  border: 2px solid black;
}

#wrapDiv {
  display: flex;
  gap: 5px;
}
